.contacto-container-outer {
    width: 100%;
    background-color: rgb(37, 125, 37);
    padding: 20px 0; 
}

.contacto-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: inherit; 
}

.contacto-title {
    text-align: center;
    color: white; 
}

.contacto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.contacto-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: white; /* Ajusta el color del texto si es necesario */
}

.contacto-icon {
    margin-right: 10px;
}

.contacto-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-input, .contacto-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.contacto-button {
    padding: 10px 20px;
    background-color: #fff; /* Color del botón */
    color: green; /* Color del texto del botón */
    border: none;
    cursor: pointer;
}
