@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    overflow-x: hidden;
}

.coontainer {
    margin-top: -5px;
    background-color: #eaecef; 
    width: 100vw; 
    padding: 20px;
    box-sizing: border-box;
}

.imagen3 {
    height: 200px;
    width: 200px;
    position: absolute; /* Para posicionar absolutamente */
    top: 20px; /* Ajusta la posición desde arriba */
    right: 20px; /* Ajusta la posición desde la derecha */
}

.titulo {
    margin-left: 40px; /* Ajusta el margen izquierdo del título */
    font-family: "Oswald", sans-serif;
    font-weight: 400; /* Ajusta el peso de la fuente según tus necesidades */
    font-size: 36px; /* Tamaño del título */
    color: #2c3e50; /* Color del texto del título */
}

.parrafo-con {
    margin-left: 20px; /* Ajusta el margen izquierdo del párrafo */
    padding: 20px; /* Añade espacio interno alrededor del párrafo */
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #34495e; /* Color del texto del párrafo */
}

.parrafo-con span {
    font-weight: bold; /* Añade negrita al texto dentro de <span> */
    color: #000000; /* Cambia el color del texto dentro de <span> */
}
